body {
  margin: 0;
}

.btn {
  text-transform: none;
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  background-image: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 8s;
  z-index: 1;
}

.loadingScreen__board {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/space_front5.png");
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgb(0 0 0 / 50%);
  transition: opacity 0.8s;
}

.loadingScreen__button {
  padding: 8px 32px;
  background-color: rgba(0, 0, 0, 0.22);
  color: gray;
  border: none;
  font-size: 1.5rem;
  transition: background-color 0.4s;
  z-index: 1;
}

.loadingScreen__button:hover {
  background-color: rgba(0, 0, 0, 0.42);
  cursor: pointer;
}

.loadingScreen__button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.loadingScreen--started {
  opacity: 0;
  pointer-events: none;
}

.loadingScreen--started .loadingScreen__board {
  opacity: 0;
}

#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: -4s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: -3s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: -2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: -1s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 0s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.25);
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 1;
    transform: scale(1.4);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}

#vrlab-div {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  /*overflow: hidden;*/
}

#header-div {
  position: fixed;
  display: flex;
  justify-content: right;
  z-index: 11;
}

/*
#left-div {
  position: fixed;
  top: 7rem;
  width: auto;
  height: 70vh;
  margin-left: 0;
  padding: 20px;
  z-index: 1;
  overflow-x: hidden;
  opacity: 0.6;
  transition: 0.5s;
  background: rgba(0,0,0,0.4);
  border-radius: 0 10px 10px 0;
  box-shadow: 1px 4px 7px rgba(0,0,0,0.5);
}
*/

#footer-div {
  position: fixed;
  left: 1rem;
  right: 1.1rem;
  bottom: 6rem;
  height: 24vh;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

@keyframes animate-booking-div {
  from {
    top: -300px;
  }
  to{
    top: var(--top);
    opacity: 1;
  }
}

#booking-div {
  position: fixed;
  left: 1rem;
  right: 1.1rem;
  height: 80vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  opacity: 1;
  --top: 6rem;
  animation: animate-booking-div 1s ease forwards;
}

#welcome-div {
  position: fixed;
  width: 80vw;
  height: 70vh;
  text-align: left;
  opacity: 0;
  --top: 8rem;
  animation: animate-booking-div 1s ease forwards;
}

#sketchfab-viewer {
  position: static;
  margin: auto;
  width: 80%;
  height: 60vh;
}

model-viewer, VideoJS, PannellumReact {
  position: static;
  margin: auto;
  width: 80%;
  height: 60vh;
}

#viewer-div {
  /*position: fixed;
  top: 90px;*/
  padding: 1rem;
  /*left: 15px;
  right: 30px;
  height: 80vh;*/
}

@keyframes animate-logo {
  from {
    left: 100rem;
  }
  to{
    left: 1rem;
    opacity: 1;
  }
}

.logo {
  position: fixed;
  height: 60px;
  top: 1rem;
  left: 100rem;
  opacity: 0;
  animation: animate-logo 1s ease forwards;
  animation-delay: 0.8s;
}

@keyframes animate-topui {
  from {
    left: -1rem;
  }
  to{
    left: 4rem;
    opacity: 1;
  }
}

.topui {
  position: fixed;
  top: 3.75rem;
  left: 4rem;
  width: 100%;
  opacity: 0;
  animation: animate-topui 1s ease forwards;
  animation-delay: 2s;
}

@keyframes animate-frame {
  from {
    top: -4rem;
  }
  to{
    top: 0rem;
  }
}

.frame3 {
  position: fixed;
  top: 3.5rem;
  left: 20rem;
  width: auto;
  z-index: 11;
}

.frame2 {
  position: fixed;
  top: 6rem;
  width: 100%;
  z-index: 2;
}

.frame {
  position: fixed;
  top: -4rem;
  left: 1rem;
  right: 1rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: start;
  color: var(--color-title);
  padding: 1rem 2rem;
  z-index: 1;
  background: rgba(255,255,255,0.7);
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 4px 7px rgba(0,0,0,0.5);
  animation: animate-frame 1s ease forwards;
}

.frame a:not(.frame__title-back) {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.frame a:not(.frame__title-back)::before {
  content: "";
  height: 1px;
  width: 100%;
  background: currentColor;
  position: absolute;
  top: 90%;
  transition: transform 0.3s;
  transform-origin: 0% 50%;
}

.frame a:not(.frame__title-back):hover::before {
  transform: scaleX(0);
  transform-origin: 100% 50%;
}

.frame__title .frame__title-main select{
  /*font-family:Tahoma,Verdana,Segoe,sans-serif;*/
  font-size:16px;
  font-style:normal;
  text-transform:none;
  text-decoration:none;
  text-align:left;
  background-color:#666666;
  color:#ffffff;
  font-weight:600;
 }

 main #root-div #front-div #header-div #left-div #footer-div .frame__title .frame__title-main select{
  line-height:25.5px !important;
 }

 #header-div{
  transform:translatex(0px) translatey(0px);
  padding-top:0px;
  padding-bottom:0px;
 }
 
.frame__title-back {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.frame__title-back span {
  display: none;
}

.frame__title-back svg {
  fill: currentColor;
}

.frame__prev {
  grid-area: prev;
}

@media screen and (min-width: 53em) {
  .frame {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title prev sponsor";
    justify-content: start;
    grid-gap: 5vw;
  }
}

.content {
  z-index: 10;
  background: rgba(0,0,0,0.3);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 4px 7px rgba(0,0,0,1);
}

#chooser {
  width: 100px;
}

.annotation {
  transform: translate3d(calc(-50%), calc(-50%), 0);
  /*text-align: left;*/
  background: #181c20;
  color: #8c92a4;
  padding: 5px 10px;
  border-radius: 5px;
  user-select: none;
  font-family: var(--leva-fonts-mono);
  white-space: nowrap;
}

.annotation1 {
  transform: translate3d(calc(-50%), calc(50%), 0);
  /*text-align: left;*/
  background: #181c20;
  color: #8c92a4;
  width: 150px;
  padding: 5px 10px;
  border-radius: 5px;
  user-select: none;
  font-family: var(--leva-fonts-mono);
  font-size: 8px;
}

@keyframes animate-grid-item {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*
#grid-item {
  opacity: 0;
  animation: animate-grid-item 1s ease forwards;
  animation-delay: 0.2s;
}
*/